.folderTreeExpandable{
    display: flex;
    margin: auto;
    padding: 5px 0;

}

.folderTreeExpandable:hover{
    background-color: rgb(212, 235, 235);

}
.treeNodeSelected{
    color: rgb(42, 109, 224);
}