.svgBody {
	width: calc(100% - 20px);
	height: calc(100% - 1080px);
	/* padding:   calc(1vw + 5px); */
}
.bubble {
	position: relative;
	width: 310px;
	min-height: 40vh;
	padding: 0px;
	background: #e0eeaac9;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	border-radius: 9px;
	border: #d6d2d2 solid 4px;
}

.bubble:after {
}

.bubble:before {
}

.bubbleTooltip {
	padding: 5px 10px;
}
