.loaderBackgroung{
    margin: auto;
    text-align: center;
    background-color: aquamarine;
}
.loader-box{
    position: relative;
    top: 0;
    left: 0;
    max-width: 400px;
}
.loader-c2icon{
    position: fixed;
    top: 40%;
    left: 44%;
    opacity: 0.5;
}
.loader-ring{
    position: fixed;
    top: 30%;
    left: 40%;
    animation: ringFadeIn 1.5s infinite;
    opacity: 1;
}
@-moz-keyframes ringFadeIn {
from { -moz-transform: rotate(0deg);opacity: 0.05;}
to { -moz-transform: rotate(120deg);opacity: .25;}
to { -moz-transform: rotate(240deg);opacity: .50;}
to { -moz-transform: rotate(360deg);opacity: .75;}
}
@-webkit-keyframes ringFadeIn {
from { -webkit-transform: rotate(0deg);opacity: 0.05;}
to { -moz-transform: rotate(120deg);opacity: .25;}
to { -moz-transform: rotate(240deg);opacity: .50;}
to { -webkit-transform: rotate(360deg);opacity: .75;
}
}
@keyframes ringFadeIn {
from {transform:rotate(0deg);opacity: .05;}
to { -moz-transform: rotate(120deg);opacity: .25;}
to { -moz-transform: rotate(240deg);opacity: .50;}
to {transform:rotate(360deg);opacity: .75;}
}

