@import url("https://fonts.googleapis.com/css?family=Playfair Display");

.App {
	margin: 0;
	padding: 0;
	font-family: "arvo";
	font-weight: 500;
	font-size: clamp(1rem, 1.4rem, 1.7rem);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Playfair Display";
	font-weight: 800;
}
