@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--color-aqua: #98ded2b9;
	--color-purple: #7a5b84;
	--color-blue: #1e2833;
	--color-grey: #ccc;
}

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
