.containers {
	width: 600vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}
.col-smm-1,
.col-smm-5 {
	width: 10%;
}
.col-smm-2,
.col-smm-4 {
	width: 20%;
}
.col-smm-6 {
	width: 50%;
}
.panel {
	width: 100vw;
	height: 100vh;
}
.textContainer {
	position: absolute;
	display: flex;
	height: 60vh;
	width: 100vw;
	top: 20%;
}
.pin-spacer {
	z-index: 1 !important;
}
.headerTextContainer {
	z-index: auto;
}
.timeLineFrame {
	width: 100vw;
	height: 60vh;
	width: 100vw;
	position: fixed;
	display: flex;
	top: 20%;
}

.timelineBgOver div {
	z-index: 11;
	position: fixed;
	top: 20%;
	height: 60vh;
	width: 7.5%;
	/* background-color: white; */
}
.bgover1 {
	/* position: relative; */
	left: 0;
}
.bgover2 {
	right: 0;
	/* position: relative; */
}

.contain1,
.contain5 {
	z-index: 11 !important;
	background-color: white;
}
.contain2 {
	/* width: 5%; */
	/* background-color: white; */
}
.contain4 {
	/* margin: auto;
	text-align: center; */
	/* width: 60%; */
}
.wapper1,
.wapper2,
.wapper3,
.wapper4 {
	position: absolute;
	height: calc(0.7rem + 7vh + 5vw);
	width: calc(7vw + 3vh);
	color: aqua;
}
.wapper1,
.wapper3 {
	bottom: -9rem;
	transform: rotate(180deg);
}
.wapper2,
.wapper4 {
	top: -9rem;
}
.wapper1 {
	left: 5%;
}
.wapper2 {
	left: 23%;
}

.wapper3 {
	/* top: 12%; */
	right: 23%;
}

.wapper4 {
	right: 5%;
}
.bgWhite {
	/* background-color: white !important; */
}
.careerHeaderText h3 {
	font-size: medium;
	font-weight: 900;
	font-family: "Bungee-Regular";
	text-align: center;
	letter-spacing: 0.5vw;
}
.careerHeaderText {
	position: absolute;
}

.chtStart {
	top: -10%;
	left: 5%;
}

.chtEnd {
	bottom: -10%;
	right: 5%;
}

.shape1 {
	height: 100%;
	background-color: aqua;
	-webkit-clip-path: polygon(0 70%, 0 42%, 100% 100%, 50% 100%);
	clip-path: polygon(0 70%, 0 42%, 100% 100%, 50% 100%);
}
.shape2 {
	z-index: 1;
	height: 100%;
	background-color: rgba(0, 255, 255, 0.257);
	-webkit-clip-path: polygon(75% 0, 100% 0, 25% 100%, 0 100%);
	clip-path: polygon(75% 0, 100% 0, 25% 100%, 0 100%);
}
.shape3 {
	z-index: 5;
	height: 100%;
	background-color: rgba(0, 255, 255, 0.257);
	-webkit-clip-path: polygon(0 0, 12% 0, 100% 100%, 88% 100%);
	clip-path: polygon(0 0, 9% 0, 100% 100%, 91% 100%);
}
.shape4 {
	height: 100%;
	background-color: rgba(0, 255, 255, 0.257);
	-webkit-clip-path: polygon(75% 0, 100% 0, 25% 100%, 0 100%);
	clip-path: polygon(75% 0, 100% 0, 25% 100%, 0 100%);
}

.shape5 {
	height: 100%;
	background-color: aqua;
	-webkit-clip-path: polygon(0 0, 50% 0, 100% 36%, 100% 69%);
	clip-path: polygon(0 0, 50% 0, 100% 36%, 100% 69%);
}

.textContainer .t2 {
	z-index: 1;
	min-width: 25%;
	position: absolute;
	left: 7vw;
	margin-top: 20vh;
	font-family: "Bungee-Regular";
}

.t2 .textRotated {
	z-index: 10;
	font-size: clamp(0.6rem, calc(0.5rem + 2vw), 2rem);
	font-weight: 900;
	transform: rotate(-67deg);
	opacity: 1;
}

.textContainer .t3 {
	left: 20vw;
	z-index: 11;
	display: grid;
	align-items: center;
	text-align: justify;
	grid-gap: 2vh;
	margin: auto;
	z-index: 6;
	color: black;
	margin-left: 17vw;
	padding: 1rem;
}
.textContainer .t4 {
	position: absolute;
	z-index: 111;
	transform: rotate(-70deg);
	right: 7vw;
	margin-top: 20vh;
	font-size: clamp(1rem, calc(0.5rem + 2vw), 2rem);
	font-weight: 900;
	font-family: "Bungee-Regular";
}
.textAbout {
	font-size: calc(1vh + 1vw);
	text-align: center;
}
.textHeader {
	text-align: center;
	font-weight: 900;
	font-size: calc(1rem + 3vw);
}
.textHeader i {
	font-size: calc(0.2rem + 0.8vw);
}
.textDetail {
	font-size: clamp(0.6rem, calc(0.4rem + 1vw), 1.5rem);
}
.textDetail a {
	text-decoration: none;
}
.opacityNone {
	opacity: 0;
}

@media (max-width: 1200px) {
	.wapper1,
	.wapper3 {
		bottom: -6.4rem;
	}
	.wapper2,
	.wapper4 {
		top: -6.4rem;
	}
	.wapper1 {
		left: 5%;
	}
	.wapper2 {
		left: 23%;
	}
	.wapper3 {
		right: 23%;
	}
	.wapper4 {
		right: 5%;
	}

	.wapper1,
	.wapper2,
	.wapper3,
	.wapper4 {
		height: calc(0.6rem + 7vh + 5vw);
		width: calc(5vw + 4vh);
	}
	.chtStart {
		top: -8%;
		left: 65%;
	}
	.chtEnd {
		bottom: -8%;
		right: 55%;
	}
	.t2 .textRotated {
		transform: rotate(-75deg);
	}
	.textContainer .t4 {
		transform: rotate(-75deg);
	}
}
@media (max-width: 768px) {
	.wapper1,
	.wapper3 {
		bottom: -4.6rem;
	}
	.wapper2,
	.wapper4 {
		top: -4.3rem;
	}
	.wapper1 {
		left: 5%;
	}
	.wapper2 {
		left: 23%;
	}
	.wapper3 {
		right: 23%;
	}
	.wapper4 {
		right: 5%;
	}

	.wapper1,
	.wapper2,
	.wapper3,
	.wapper4 {
		height: calc(0.5rem + 7vh + 2vw);
		width: calc(5vw + 3vh);
	}
	.chtStart {
		top: -8%;
		left: 65%;
	}
	.chtEnd {
		bottom: -8%;
		right: 55%;
	}
	.t2 .textRotated {
		transform: rotate(-80deg);
	}
	.textContainer .t4 {
		transform: rotate(-78deg);
	}
	.textContainer .t2 {
		min-width: 40%;
		left: 0vw;
		margin-top: 25vh;
	}
}
@media (max-width: 425px) {
	.wapper1,
	.wapper3 {
		bottom: -3.6rem;
	}
	.wapper2,
	.wapper4 {
		top: -3.3rem;
	}
	.wapper1 {
		left: 4%;
	}
	.wapper2 {
		left: 21%;
	}
	.wapper3 {
		right: 21%;
	}
	.wapper4 {
		right: 3%;
	}

	.wapper1,
	.wapper2,
	.wapper3,
	.wapper4 {
		height: calc(0.5rem + 7vh + 2vw);
		width: calc(5vw + 3vh);
	}
	.chtStart {
		top: -8%;
		left: 50%;
	}
	.chtEnd {
		bottom: -8%;
		right: 40%;
	}
	.t2 .textRotated {
		transform: rotate(-84deg);
	}
	.textContainer .t4 {
		transform: rotate(-82deg);
	}
	.textContainer .t2 {
		min-width: 45%;
		left: -3vw;
		margin-top: 25vh;
	}
}
