.timelineCointainer {
	margin: auto;
}

.hg-80 {
	height: 70vh;
	border: 1px dashed black;
}
.shape1 {
	height: 100%;
	background-color: aqua;

	-webkit-clip-path: polygon(0 60%, 0 40%, 99% 98%, 70% 98%);
	clip-path: polygon(0 70%, 0 40%, 100% 98%, 40% 98%);
}
.shape2 {
	height: 100%;
	background-color: aqua;
	-webkit-clip-path: polygon(70% 2%, 98% 2%, 30% 98%, 2% 98%);
	clip-path: polygon(70% 2%, 98% 2%, 30% 98%, 2% 98%);
}
.shape3 {
	height: 100%;
	/* background-color: aqua;
	-webkit-clip-path: polygon(0 8%, 10% 0, 100% 91%, 89% 100%);
	clip-path: polygon(0 8%, 10% 0, 100% 91%, 89% 100%); */
}
.shape4 {
	height: 100%;
	background-color: aqua;
	-webkit-clip-path: polygon(70% 2%, 98% 2%, 30% 98%, 2% 98%);
	clip-path: polygon(70% 2%, 98% 2%, 30% 98%, 2% 98%);
}
.shape5 {
	height: 100%;
	background-color: aqua;
	-webkit-clip-path: polygon(0 2%, 50% 2%, 100% 30%, 100% 60%);
	clip-path: polygon(0 2%, 50% 2%, 100% 30%, 100% 60%);
}
