.main {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}
.contactContainer {
	scroll-behavior: smooth;
}
.contactContainer > section {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}
.contactBG {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #76c773;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(202,735,404)'%3E%3Cstop offset='0' stop-color='%2376C773'/%3E%3Cstop offset='1' stop-color='%2349FFF7'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='446' height='371.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.17'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
	background-size: cover;
	margin: auto;
	width: 90vw;
	height: calc(50vh + 10vw);
	border-radius: 50px;
}

.contactBox {
	position: relative;
	margin: auto;
	height: 80%;
	width: 90%;
	background: rgba(255, 255, 255, 0.45);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 40px;
	border: 1px solid rgba(255, 255, 255, 0.18);
}
.contactIcon {
	min-height: 60px;
	min-width: 60px;
	margin: auto 1.5em;
	text-align: center;
	position: relative;
	transition: width 1s;
	-webkit-transition: width 1s;
}
.expandedContactIcon {
	min-height: 70px;
	min-width: 250px;
	border: 1px solid black;
	border-radius: 50px;
}
.contactBoxContent {
	position: absolute;
	margin: auto;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}
.contactBoxContent span {
	margin: 10px auto;
}
.contactBoxContent h1,
h2 {
	margin: auto;
	text-align: center;
	font-family: cursive;
	font-size: calc(3vw + 1vh);
	font-weight: 600;
}
i {
	font-size: clamp(3.5rem, 7vw, 8vw);
}
.instagram {
	color: #d6249f;
	color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%) !important;
}
.github {
	color: #171515;
}
.stackoverflow {
	color: #f48024;
}
.linkedin {
	color: #0a66c2;
}
.twitter {
	color: #00acee;
}
.hackerrank {
	color: #20c20e;
}
.contactIcon:hover {
	animation: expandIcons 1s linear;
	animation-name: expandIcons;
}

.typewriter {
	margin: calc(4vh + 2vw) auto;
	cursor: pointer;
	max-width: 22vw;
	border-bottom: 0.2em solid rgba(211, 138, 138, 0.56);
}

.typewriter h1 {
	color: #fff;
	font-family: monospace;
	overflow: hidden;
	border-right: 0.15em solid orange;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: 0.15em;
	animation-delay: 10s;
	animation: typing 5s steps(30, end), blink-caret 1s step-end infinite;
}

.socialIcons {
	margin: calc(4vh + 2vw) auto;
	text-align: center;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@keyframes blink-caret {
	from,
	to {
		border-color: transparent;
	}
	50% {
		border-color: orange;
	}
}

.errorMail {
	color: red;
	font-size: 1ßem;
	margin: auto auto auto 15%;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.mailMessageBox {
	margin: 40px auto auto;
}
.mailMessageBox textarea {
	border: 1px solid lightgrey;
	border-radius: 20px;
	padding: 1rem;
	outline: none;
	height: 40vh;
	width: 100%;
}
.mailMessageBox textarea::placeholder {
	font-size: calc(1.5vw + 1vh);
	font-weight: bold;
	opacity: 0.5;
	color: rgb(29, 28, 28);
}
.mailMessageBox textarea:focus {
	border: 2px solid #9b9b9b;
	border-radius: 10px;
}
.modelHeaderMenu {
	margin-right: 10px;
}

.modelHeaderMenu span {
	margin: auto 10px;
}
.modelHeaderMenuAlert:hover {
	color: rgb(231, 96, 96);
}
.modelHeaderMenuConfirm:hover {
	color: rgb(96, 231, 107);
}
.modelHeaderMenuDummy {
	padding: 0px 0px 0px 1vw;
	margin-right: -5px !important;
}
.modelHeaderMenuDummy:hover {
	color: #fdf497;
}
.alreadyMailSent {
	min-height: 50vh;
	text-align: center;
	font-size: calc(1.5vw + 1vh);
	margin: auto 2rem;
	transform: translate(0, 20%);
}
.resendMial {
	font-weight: 600;
}
.resendMial:hover {
	text-decoration: underline;
	color: #0a66c2;
	cursor: pointer;
}
.disabledLink {
	pointer-events: none !important;
	cursor: pointer !important;
	opacity: 0.4;
}
.modelIcons i {
	font-size: calc(1rem + 1vw + 0.5vh);
	cursor: pointer;
}
.downArrow {
	position: absolute;
	width: 100vw;
	bottom: 0;
	display: flex;
	justify-content: center;
}
.pointingArrow {
	height: calc(10vh + 5vw);
	width: calc(20vw + 20vh);
	transform: rotate(180deg);
}
.copyClipboard {
	cursor: pointer;
	position: absolute;
	/* left: auto; */
	right: calc(2rem + 1vw);
	top: 7vh;
	font-size: calc(1.5vh + 1.5vw);
}
.copyClipboard:hover {
	color: #76c773;
}
