video::-webkit-media-controls-play-button {
	display: none !important;
}
h1 {
	width: 100vw;
}
.myVideo {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 9;
	overflow: hidden;
}

.videoDimension {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.intoSection {
	height: 100vh;
	width: 100vw;
	background-color: black;
	z-index: 10;
}

.downloadResumeButton {
	font-size: 1.7em;
	position: relative;
	left: 35%;
}

.resumeDownloadContainer {
	right: 12vw;
	top: 15vh;
	position: absolute;
	z-index: 11;
}

.credit {
	position: fixed;
	right: 20px;
	bottom: 20px;
	transition: all 0.2s ease;
	-webkit-user-select: none;
	user-select: none;
	opacity: 0.6;
}
.credit img {
	width: 72px;
}
.credit:hover {
	transform: scale(0.95);
}

.pointingArrow {
	height: calc(10vh + 8vw);
	position: absolute;
	margin-top: 5vw;
	right: 10vw;
	-webkit-user-select: none;
	user-select: none;
}

.intoDesciption {
	position: absolute;
	bottom: 0px;
	padding: 0px 0px 10vh 5vw;
	color: #e9e0ffdb;
	z-index: 11;
}
.intoDesciption h1 {
	position: relative;
	min-width: calc(45vw);
	font-family: "natual-font";
	font-weight: 900;
	font-size: calc(0.7rem + 1.7vw);
}
/* .intoDesciption span:hover {
	position: relative;
	font-size: calc(1rem + 2.5vw);
	cursor: zoom-in;
	text-transform: uppercase;
	z-index: 100;
	-webkit-animation: scale 1s linear;
	-moz-animation: scale 1s linear;
	animation: scale 1s linear;
	transform-origin: 50% 50%;
	animation-fill-mode: forwards;
} */

/* download button */

.btn-circle-download {
	position: relative;
	height: calc(7vh + 4vw);
	width: calc(7vh + 5vw);
	margin-left: auto;
	margin-right: 4vw;
	border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
	background: #d1d5da;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.2s ease;
	box-shadow: 0 -2vmin 4vmin rgb(123, 176, 255) inset, 0 1vmin 4vmin rgb(155, 111, 243) inset,
		0 -2vmin 7vmin rgb(78, 51, 227) inset;
}
.btn-circle-download:after {
	content: "";
	position: relative;
	display: block;
	width: 200%;
	height: 100%;
	background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
	transform: translateX(-100%);
}
.btn-circle-download svg {
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.btn-circle-download svg#border {
	position: absolute;
	top: 0;
	left: 0;
	height: calc(7vh + 4vw);
	width: calc(7vh + 5vw);
	border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
	stroke: none;
	stroke-dasharray: 144;
	stroke-dashoffset: 144;
	transition: all 0.9s linear;
}

.btn-circle-download svg#arrow {
	position: absolute;
	top: calc(2vh + 1vw);
	left: calc(2vh + 2vw);
	height: calc(4vh + 2vw);
	width: calc(3vh + 2vw);
	stroke: #ffffff;
	transition: all 0.2s ease;
}

.btn-circle-download svg#check {
	position: absolute;
	top: calc(1vh + 2vw);
	left: calc(2vh + 2vw);
	height: calc(4vh + 2vw);
	width: calc(3vh + 2vw);
	stroke: white;
	transform: scale(0);
}
.btn-circle-download:hover {
	background: rgba(0, 119, 255, 0.2);
}
.btn-circle-download:hover #arrow path,
.btn-circle-download:hover #arrow polyline {
	stroke: #0077ff;
}
.btn-circle-download.load {
	background: rgba(0, 119, 255, 0.2);
}
.btn-circle-download.load #arrow path,
.btn-circle-download.load #arrow polyline {
	stroke: #0077ff;
}
.btn-circle-download.load #border {
	stroke: #b5f324;
	stroke-dasharray: 150;
	stroke-dashoffset: 0;
}
.btn-circle-download.done {
	background: #0077ff;
	animation: rubberBand 0.8s;
}
.btn-circle-download.done:after {
	transform: translateX(50%);
	transition: transform 0.4s ease;
	transition-delay: 0.7s;
}
.btn-circle-download.done #border,
.btn-circle-download.done #arrow {
	display: none;
}
.btn-circle-download.done #check {
	transform: scale(1);
	transition: all 0.2s ease;
	transition-delay: 0.2s;
}

@keyframes rubberBand {
	from {
		transform: scale(1, 1, 1);
	}
	30% {
		transform: scale3d(1.15, 0.75, 1);
	}
	40% {
		transform: scale3d(0.75, 1.15, 1);
	}
	50% {
		transform: scale3d(1.1, 0.85, 1);
	}
	65% {
		transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		transform: scale3d(1.05, 0.95, 1);
	}
	to {
		transform: scale3d(1, 1, 1);
	}
}

.cursorAnimationText {
	position: relative;
	background: rgb(11, 11, 11);
	text-align: center;
	color: white;
	font-family: cursive;
	width: 100vw;
}
.cursorAniContainer {
	display: grid;
	grid-template-columns: repeat(2, 50vw);
}

.cursorAnimationSection {
	height: 50vh;
	background-color: rgb(0, 0, 0);
}

/* .cursorAnimationSection .col-sm-3,
.col-lg-3 {
	margin: 0px;
	padding: 0px;
} */
.ca1 {
	border-right: 5px solid rgb(188, 188, 246);
}
.ca2 {
}
.ca3 {
	border-top: 5px solid rgb(188, 188, 246);
	border-right: 5px solid rgb(188, 188, 246);
}
.ca4 {
	border-top: 5px solid rgb(188, 188, 246);
}
.cursorAnimation {
	max-height: 50vh;
	width: 100%;
	cursor: none;
}

.cursorBubbleAnimation {
	margin: 0px;
	padding: 0px;
	height: 50vh;
	width: 100%;
}
.pageDetail {
	position: relative;
	text-align: center;
	align-items: center;
	margin: auto;
	height: 100%;
	top: -70%;
}
.pageDetail h3 {
	color: black;
	font-weight: 900;
}

.skillPageDetail {
	/* display: inline-block; */
	/* position: relative; */
	/* top: -50%;
	left: 35%; */
}
.aboutPageDetail {
	/* display: inline-block; */
	/* position: relative; */
	/* top: -50%;
	left: 35%; */
}
.contactPageDetail {
	/* display: inline-block; */
	/* position: relative; */
	/* top: -50%;
	left: 35%; */
}
.trail {
	position: absolute;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	background: rgba(50, 243, 60, 0.3);
	cursor: none;
}

.cursorbg {
	background-color: #28282b;
	position: relative;
	cursor: none;
}

.contactPointer {
	background-color: rgb(0, 0, 0);
	/* positio/n: relative; */
}
.bubble {
	border-radius: 50%;
}

.introCursorButton {
	display: grid;
	place-items: center;
	background: radial-gradient(circle at 0% 0%, hotpink, slateblue);
	border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
	box-shadow: 0 -2vmin 4vmin LightPink inset, 0 1vmin 4vmin MediumPurple inset, 0 -2vmin 7vmin purple inset;
	content: "";
	height: calc(3rem + 4vw + 2vh);
	width: calc(3rem + 4vw + 2vh);
	cursor: pointer;
	z-index: 20;
	color: black;
	font-weight: 700;
}

.intoDesciption h1 {
	position: absolute;
}
.intoDesciption span {
	min-width: 2vw;
	text-transform: uppercase;
	text-align: center;
	cursor: grabbing;
	position: absolute;
	background-color: rgb(155, 111, 243);
	background-image: radial-gradient(
		circle,
		#845ec2,
		#2c73d2,
		#0081cf,
		#389cc1,
		#008e9b,
		#33e3c9,
		#096485,
		#2cc5d3,
		#48dac4
	);
	margin-bottom: 20px;
	background-size: 200% 200%;
	animation: vroomRainbow 2s ease-in-out infinite;
	background-clip: text;
	-webkit-background-clip: text;
	transition: all 0.1s ease-in-out;
	user-select: none;
}
.intoDesciption span:hover {
	transform: scale(1.7);
	color: rgba(0, 0, 0, 0);
}

@keyframes vroomRainbow {
	0% {
		background-position: 0 0;
	}
	20% {
		background-position: 20% 0;
	}
	40% {
		background-position: 40% 0;
	}
	60% {
		background-position: 100% 0;
	}
	80% {
		background-position: 50% 0;
	}
	100% {
		background-position: 0% 0;
	}
}
.intoDesciption .introHeader1 {
	width: 100vw;
	margin-top: -48vh;
}
.intoDesciption .introHeader2 {
	width: 100vw;
	margin-top: -40vh;
}
.intoDesciption .introHeader3 {
	width: 100vw;
	margin-top: -32vh;
}
.intoDesciption .introHeader4 {
	width: 100vw;
	margin-top: -24vh;
}
.intoDesciption .introHeader5 {
	width: 100vw;
	margin-top: -16vh;
}
.intoDesciption .introHeader6 {
	width: 100vw;
	margin-top: -8vh;
}
.intoDesciption .introHeader7 {
	width: 100vw;
	margin-top: 0vh;
}

.introHeader7 .text1 {
	font-size: calc(0.6rem + 1vw);
	margin: 2px 0 0 3px;
	transform: rotate(-33deg);
}

@media (min-width: 768px) and (max-width: 1200px) {
	.intoDesciption .introHeader1 {
		margin-top: calc(-42vh);
	}
	.intoDesciption .introHeader2 {
		margin-top: calc(-35vh);
	}
	.intoDesciption .introHeader3 {
		margin-top: calc(-28vh);
	}
	.intoDesciption .introHeader4 {
		margin-top: calc(-21vh);
	}
	.intoDesciption .introHeader5 {
		margin-top: calc(-14vh);
	}
	.intoDesciption .introHeader6 {
		margin-top: calc(-7vh);
	}
	.intoDesciption .introHeader7 {
		margin-top: calc(0vw);
	}
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 768px) {
	.intoDesciption .introHeader1 {
		margin-top: calc(-30vh);
	}
	.intoDesciption .introHeader2 {
		margin-top: calc(-25vh);
	}
	.intoDesciption .introHeader3 {
		margin-top: calc(-20vh);
	}
	.intoDesciption .introHeader4 {
		margin-top: calc(-15vh);
	}
	.intoDesciption .introHeader5 {
		margin-top: calc(-10vh);
	}
	.intoDesciption .introHeader6 {
		margin-top: calc(-5vh);
	}
	.intoDesciption .introHeader7 {
		margin-top: calc(0vw);
	}

	.intoDesciption h1 {
		font-size: calc(0.5rem + 1.4vw);
	}
	.introHeader5 .text1 {
		margin: 1vh 0 0 1vw;
	}
	.introHeader5 .text9 {
		width: 15vw;
	}
	.intoDesciption span {
		min-width: 4vw;
	}
	.intoDesciption {
		/* padding: 0px 0px 10vh 10vw; */
		padding-left: 3vw;
	}
}
