.backgroundImage{
    background-image: url("../../image/fleur-SE2zTdS1MNo-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.downloadResumeButton{
    position: relative;
    top: 50%;
    left: 40%;
}

.intoSection{
    height: 100vh;
    width: 100vw;
}

.careerbg{
    background-color: rgb(158, 204, 233);

}

.skillbg{
    background-color: rgba(236, 164, 76, 0.667);

}

.aboutbg{
    background-color: rgba(151, 208, 85, 0.777);

}

.contactbg{
    background-color: bisque;
}