/* .backgroundImage{
    background-image: url("../../image/backgroundMain.mp4");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
} */
.myVideo {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	overflow: hidden;
}

.videoDimension {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.downloadResumeButton {
	font-size: 1.7em;
	position: relative;
	left: 35%;
}

.resumeDownloadContainer {
	float: right;
	padding: 5rem;
	margin: auto;
	position: relative;
	z-index: 10;
}
/* download button */

.btn-circle-download {
	position: relative;
	height: 5rem;
	width: 6rem;
	margin: auto auto auto 10rem;
	border-radius: 100%;
	background: #e8eaed;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.2s ease;
}
.btn-circle-download:after {
	content: "";
	position: relative;
	display: block;
	width: 200%;
	height: 100%;
	background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0));
	transform: translateX(-100%);
}
.btn-circle-download svg {
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}
.btn-circle-download svg#border {
	position: absolute;
	top: 0;
	left: 0;
	height: 5rem;
	width: 6rem;
	stroke: none;
	stroke-dasharray: 144;
	stroke-dashoffset: 144;
	transition: all 0.9s linear;
}
.btn-circle-download svg#arrow {
	position: absolute;
	top: 1rem;
	left: 2rem;
	height: 3rem;
	width: 2rem;
	stroke: #9098a9;
	transition: all 0.2s ease;
}
.btn-circle-download svg#check {
	position: absolute;
	top: 2rem;
	left: 2.5rem;
	top: 1rem;
	left: 2rem;
	height: 3rem;
	width: 2rem;
	stroke: white;
	transform: scale(0);
}
.btn-circle-download:hover {
	background: rgba(0, 119, 255, 0.2);
}
.btn-circle-download:hover #arrow path,
.btn-circle-download:hover #arrow polyline {
	stroke: #0077ff;
}
.btn-circle-download.load {
	background: rgba(0, 119, 255, 0.2);
}
.btn-circle-download.load #arrow path,
.btn-circle-download.load #arrow polyline {
	stroke: #0077ff;
}
.btn-circle-download.load #border {
	stroke: #0077ff;
	stroke-dasharray: 144;
	stroke-dashoffset: 0;
}
.btn-circle-download.done {
	background: #0077ff;
	animation: rubberBand 0.8s;
}
.btn-circle-download.done:after {
	transform: translateX(50%);
	transition: transform 0.4s ease;
	transition-delay: 0.7s;
}
.btn-circle-download.done #border,
.btn-circle-download.done #arrow {
	display: none;
}
.btn-circle-download.done #check {
	transform: scale(1);
	transition: all 0.2s ease;
	transition-delay: 0.2s;
}

@keyframes rubberBand {
	from {
		transform: scale(1, 1, 1);
	}
	30% {
		transform: scale3d(1.15, 0.75, 1);
	}
	40% {
		transform: scale3d(0.75, 1.15, 1);
	}
	50% {
		transform: scale3d(1.1, 0.85, 1);
	}
	65% {
		transform: scale3d(0.95, 1.05, 1);
	}
	75% {
		transform: scale3d(1.05, 0.95, 1);
	}
	to {
		transform: scale3d(1, 1, 1);
	}
}
@media only screen and (max-width: 1200px) {
	/*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px) {
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px) {
	/* .btn-circle-download {
		position: relative;
		height: 4rem;
		width: 4rem;
		margin: auto 1rem auto auto;
		border-radius: 100%;
		background: #e8eaed;
		cursor: pointer;
		overflow: hidden;
		transition: all 0.2s ease;
	}
	.btn-circle-download svg#border {
		position: absolute;
		top: 0;
		left: 0;
		height: 5rem;
		width: 6rem;
		stroke: none;
		stroke-dasharray: 144;
		stroke-dashoffset: 144;
		transition: all 0.9s linear;
	}
	.btn-circle-download svg#arrow {
		position: absolute;
		top: 1rem;
		left: 2rem;
		height: 3rem;
		width: 2rem;
		stroke: #9098a9;
		transition: all 0.2s ease;
	}
	.btn-circle-download svg#check {
		position: absolute;
		top: 2rem;
		left: 2.5rem;
		top: 1rem;
		left: 2rem;
		height: 3rem;
		width: 2rem;
		stroke: white;
		transform: scale(0);
	}
	.pointingArrow {
		height: 15rem;
		width: 10rem;
	} */
}

.credit {
	position: fixed;
	right: 20px;
	bottom: 20px;
	transition: all 0.2s ease;
	-webkit-user-select: none;
	user-select: none;
	opacity: 0.6;
}
.credit img {
	width: 72px;
}
.credit:hover {
	transform: scale(0.95);
}

.pointingArrow {
	height: 25rem;
	width: 20rem;
}

.intoDesciption {
	font-family: font-file-82132;
	position: absolute;
	bottom: 0px;
	padding: 0px 0px 10% 12%;
	color: aliceblue;
}

.intoSection {
	height: 100vh;
	width: 100vw;
}

.careerbg {
	background-color: rgb(158, 204, 233);
}

.skillbg {
	background-color: rgba(236, 164, 76, 0.667);
}

.aboutbg {
	background-color: rgba(151, 208, 85, 0.777);
}

.contactbg {
	background-color: bisque;
}
